In [113]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import plotly.graph_objects as go
import plotly.express as px
import numpy as np
import sklearn
import pandas_profiling
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import imblearn
from imblearn.over_sampling import SMOTE

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

df = pd.read_csv("../input/india-ml-hiring-av/train.csv")

# Any results you write to the current directory are saved as output.

In [114]:
cols=['val','var0','var1','var2','var3','var4','var5','var6','var7','var8','var9','var10','var11']
mdf=pd.DataFrame(columns=cols)
mdf['val']=df['m1']-df['m12']

for i in range(0,12):
    mdf['var0']= df['m1']-df['m2']
    mdf['var1']= df['m2']-df['m3']
    mdf['var2']= df['m3']-df['m4']
    mdf['var3'] = df['m4']-df['m5']
    mdf['var4']= df['m5']-df['m6']
    mdf['var5']= df['m6']-df['m7']
    mdf['var6']= df['m7']-df['m8']
    mdf['var7']= df['m8']-df['m9']
    mdf['var8'] = df['m9']-df['m10']
    mdf['var9']= df['m10']-df['m11']
    mdf['var10']= df['m10']-df['m11']
    mdf['var11']=df['m11']-df['m12']
mdf.fillna(0)
mdf.replace(' ',0)

,val,var0,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,var11
0,0,0,0,0,0,0,-1,1,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,-1,-1,1
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,-1,0,0,0,0,0,0,0,-1,0,0,0,0
4,-11,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
5,1,1,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,-1,1,0,0,0,0,0,0,0,0,0,0
8,-1,0,0,0,-1,1,-1,1,-1,-1,2,2,-1
9,-2,0,0,0,0,-1,0,0,0,0,-1,-1,0
10,-1,0,0,0,0,0,0,0,0,0,0,0,-1
11,-1,0,-1,1,-1,1,0,0,0,0,-1,-1,0
12,0,0,0,0,0,0,0,0,0,0,0,0,0
13,-8,0,0,0,-1,-1,-1,-1,-1,-1,-1,-1,-1
14,0,0,0,0,0,0,0,0,0,0,0,0,0
15,-1,0,0,-1,1,0,0,0,0,0,-1,-1,0
16,-3,0,0,0,0,0,0,0,-1,0,-1,-1,-1
17,0,0,0,0,0,0,0,0,0,0,0,0,0
18,-1,0,0,0,-1,1,0,0,0,0,0,0,-1
19,-2,0,0,0,0,0,0,0,-1,-1,0,0,0
20,0,0,0,-1,1,0,0,0,0,0,0,0,0
21,-1,0,0,0,0,0,0,0,0,0,0,0,-1
22,-1,0,0,0,0,-1,1,-1,0,1,0,0,-1
23,-1,0,0,0,0,0,0,0,0,0,0,0,-1
24,-1,0,0,0,0,0,0,0,0,0,-1,-1,0
25,-2,0,0,0,0,0,0,0,0,0,-1,-1,-1
26,-1,0,0,0,0,0,0,0,0,0,0,0,-1
27,0,0,0,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,-1,1,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
116028,0,0,0,0,0,0,0,0,0,0,0,0,0
116029,0,0,0,0,0,0,0,0,0,0,0,0,0
116030,0,0,0,0,0,0,0,0,0,0,0,0,0
116031,0,0,0,0,0,0,0,0,0,0,0,0,0
116032,0,0,0,0,0,0,0,0,0,0,0,0,0
116033,0,0,0,0,0,0,0,0,0,0,0,0,0
116034,0,0,0,0,0,0,0,0,0,0,0,0,0
116035,0,0,0,0,0,0,0,0,0,0,0,0,0
116036,0,0,0,0,0,0,0,0,0,0,0,0,0
116037,0,0,0,0,0,0,0,0,0,0,0,0,0
116038,0,0,0,0,0,0,0,0,0,0,0,0,0
116039,0,0,0,0,0,0,0,0,0,0,0,0,0
116040,0,0,0,0,0,0,0,0,0,0,0,0,0
116041,0,0,0,0,0,0,0,0,0,0,0,0,0
116042,0,0,0,0,0,0,0,0,0,0,0,0,0
116043,0,0,0,0,0,0,0,0,0,0,0,0,0
116044,0,0,0,0,0,0,0,0,0,0,0,0,0
116045,0,0,0,0,0,0,0,0,0,0,0,0,0
116046,0,0,0,0,0,0,0,0,0,0,0,0,0
116047,0,0,0,0,0,0,0,0,0,0,0,0,0
116048,0,0,0,0,0,0,0,0,0,0,0,0,0
116049,0,0,0,0,0,0,0,0,0,0,0,0,0
116050,0,0,0,0,0,0,0,0,0,0,0,0,0
116051,0,0,0,0,0,0,0,0,0,0,0,0,0
116052,0,0,0,0,0,0,0,0,0,0,0,0,0
116053,0,0,0,0,0,0,0,0,0,0,0,0,0
116054,0,0,0,0,0,0,0,0,0,0,0,0,0
116055,0,0,0,0,0,0,0,0,0,0,0,0,0
116056,0,0,0,0,0,0,0,0,0,0,0,0,0
116057,0,0,0,0,0,0,0,0,0,0,0,0,0

In [115]:
train_y = df['m13']
df.drop(columns = 'm13',inplace = True)
df.columns

Index(['loan_id', 'source', 'financial_institution', 'interest_rate',
       'unpaid_principal_bal', 'loan_term', 'origination_date',
       'first_payment_date', 'loan_to_value', 'number_of_borrowers',
       'debt_to_income_ratio', 'borrower_credit_score', 'loan_purpose',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12'],
      dtype='object')

In [116]:
def response_time(df):
    diff = []
    for i in range(len(df['origination_date'])):
        temp = int(df['first_payment_date'][i].split('/')[0]) - int(df['origination_date'][i].split('-')[1])
        diff.append(temp)
    df.drop(columns = ['origination_date','first_payment_date'],inplace = True)
    df['response_time'] = diff
    return df

In [117]:
def one_hot(df,columns,prefix):
#     columns_encoding = ['source','financial_institution','loan_purpose']
    columns_encoding = columns
    df2 = pd.get_dummies(df,columns = columns_encoding, prefix = ['source','fi','lp'])
    return df2

In [118]:
df2 = response_time(df)
df2 = one_hot(df,['source','financial_institution','loan_purpose'],['source','fi','lp'])
df2.columns

Index(['loan_id', 'interest_rate', 'unpaid_principal_bal', 'loan_term',
       'loan_to_value', 'number_of_borrowers', 'debt_to_income_ratio',
       'borrower_credit_score', 'insurance_percent',
       'co-borrower_credit_score', 'insurance_type', 'm1', 'm2', 'm3', 'm4',
       'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12', 'response_time',
       'source_X', 'source_Y', 'source_Z', 'fi_Anderson-Taylor',
       'fi_Browning-Hart', 'fi_Chapman-Mcmahon', 'fi_Cole, Brooks and Vincent',
       'fi_Edwards-Hoffman', 'fi_Martinez, Duffy and Bird',
       'fi_Miller, Mcclure and Allen', 'fi_Nicholson Group', 'fi_OTHER',
       'fi_Richards-Walters', 'fi_Richardson Ltd',
       'fi_Romero, Woods and Johnson', 'fi_Sanchez, Hays and Wilkerson',
       'fi_Sanchez-Robinson', 'fi_Suarez Inc', 'fi_Swanson, Newton and Miller',
       'fi_Taylor, Hunt and Rodriguez', 'fi_Thornton-Davis',
       'fi_Turner, Baldwin and Rhodes', 'lp_A23', 'lp_B12', 'lp_C86'],
      dtype='object')

In [119]:
unique_ids = df2['loan_id']
df2.drop(columns = "loan_id",inplace = True)

In [120]:
df2.columns

Index(['interest_rate', 'unpaid_principal_bal', 'loan_term', 'loan_to_value',
       'number_of_borrowers', 'debt_to_income_ratio', 'borrower_credit_score',
       'insurance_percent', 'co-borrower_credit_score', 'insurance_type', 'm1',
       'm2', 'm3', 'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'm10', 'm11', 'm12',
       'response_time', 'source_X', 'source_Y', 'source_Z',
       'fi_Anderson-Taylor', 'fi_Browning-Hart', 'fi_Chapman-Mcmahon',
       'fi_Cole, Brooks and Vincent', 'fi_Edwards-Hoffman',
       'fi_Martinez, Duffy and Bird', 'fi_Miller, Mcclure and Allen',
       'fi_Nicholson Group', 'fi_OTHER', 'fi_Richards-Walters',
       'fi_Richardson Ltd', 'fi_Romero, Woods and Johnson',
       'fi_Sanchez, Hays and Wilkerson', 'fi_Sanchez-Robinson',
       'fi_Suarez Inc', 'fi_Swanson, Newton and Miller',
       'fi_Taylor, Hunt and Rodriguez', 'fi_Thornton-Davis',
       'fi_Turner, Baldwin and Rhodes', 'lp_A23', 'lp_B12', 'lp_C86'],
      dtype='object')

In [121]:
retained = []
from scipy.stats import pearsonr
for i in df2.columns:
    corr, _ = pearsonr(df2[i],train_y)
    if abs(corr)>0.01:
        retained.append(i)
        print(i+'\t\t\t\t '+str(corr))

interest_rate				 0.054297748337329886
unpaid_principal_bal				 -0.017119713693303878
loan_term				 0.02350150259625623
loan_to_value				 0.016356698057617143
number_of_borrowers				 -0.03997893193327681
debt_to_income_ratio				 0.0380332430271289
borrower_credit_score				 -0.09421547991626723
co-borrower_credit_score				 -0.04265141994916702
m1				 0.0920536306133328
m2				 0.14692067142997856
m3				 0.15739400237425377
m4				 0.21895630047719536
m5				 0.2595289494162428
m6				 0.28771179017698006
m7				 0.3090718669636777
m8				 0.33936180205435057
m9				 0.3691377263202238
m10				 0.3678395993744353
m11				 0.4102133930470283
m12				 0.4664416294225055
source_X				 -0.010544394670021748
source_Y				 0.010279241930136466
lp_A23				 -0.02553164234786174
lp_B12				 0.015562882468223672
lp_C86				 0.01398352210011473

In [122]:
retained

['interest_rate',
 'unpaid_principal_bal',
 'loan_term',
 'loan_to_value',
 'number_of_borrowers',
 'debt_to_income_ratio',
 'borrower_credit_score',
 'co-borrower_credit_score',
 'm1',
 'm2',
 'm3',
 'm4',
 'm5',
 'm6',
 'm7',
 'm8',
 'm9',
 'm10',
 'm11',
 'm12',
 'source_X',
 'source_Y',
 'lp_A23',
 'lp_B12',
 'lp_C86']

In [123]:
df4= df2[['interest_rate', 'unpaid_principal_bal', 'loan_term', 'loan_to_value','debt_to_income_ratio','borrower_credit_score', 'co-borrower_credit_score',
 'source_X',
 'source_Y',
 'lp_A23',
 'lp_B12',
 'lp_C86']]
#mdf.drop('m13')
df3 =pd.concat([df4,mdf], axis=1)

In [125]:
df3.columns
#df3.drop('m13',axis=1)

Index(['interest_rate', 'unpaid_principal_bal', 'loan_term', 'loan_to_value',
       'debt_to_income_ratio', 'borrower_credit_score',
       'co-borrower_credit_score', 'source_X', 'source_Y', 'lp_A23', 'lp_B12',
       'lp_C86', 'val', 'var0', 'var1', 'var2', 'var3', 'var4', 'var5', 'var6',
       'var7', 'var8', 'var9', 'var10', 'var11'],
      dtype='object')

In [126]:
smt = SMOTE()
X_train, y_train = smt.fit_sample(df3, train_y)

In [127]:
X_train = pd.DataFrame(data = X_train, columns = df3.columns)

In [128]:
y_train = list(y_train)
np.bincount(y_train)

array([115422, 115422])

In [129]:
from sklearn.feature_selection import RFE

import lightgbm as lgb

In [ ]:
# train_data=lgb.Dataset(train_x,label=train_Y)
# param = {'num_leaves':150, 'objective':'binary','max_depth':7,'learning_rate':.05,'max_bin':200}
# param['metric'] = ['auc', 'binary_logloss']
# num_round=50
# # start=datetime.now()
# lgbm=lgb.train(param,train_data,num_round)
# #stop=datetime.now()
# xgb_predict=lgbm.predict(test_x)
df3.columns

In [130]:
model = XGBClassifier(learning_rate = 0.055,max_depth = 4)
train_x, test_x, train_Y, test_y = train_test_split(X_train,y_train,train_size=0.8)
rfe = RFE(model, 20)
rfe = rfe.fit(train_x,train_Y)
model.fit(train_x,train_Y)
print(rfe.support_)
print(rfe.ranking_)
xgb_predict = model.predict(test_x)
    
print( "Train Accuracy :: ", accuracy_score(train_Y, model.predict(train_x)))
print( "Test Accuracy  :: ", accuracy_score(test_y, xgb_predict))

[ True False  True  True False  True  True  True  True  True  True  True
  True  True False  True False  True  True  True  True  True  True False
  True]
[1 4 1 1 5 1 1 1 1 1 1 1 1 1 3 1 2 1 1 1 1 1 1 6 1]
Train Accuracy ::  0.9846053878435088
Test Accuracy  ::  0.9832571638978536

In [131]:
sorted(sklearn.metrics.SCORERS.keys())

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'brier_score_loss',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'max_error',
 'mutual_info_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'normalized_mutual_info_score',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'v_measure_score']

In [ ]:
param_test6 = {
 'reg_alpha':[0.005]
}
params = {'class_weight':[{0:neg_weight, 1:1} for neg_weight in np.arange(1.0, 5.0, 0.5)]} 
train_x, test_x, train_Y, test_y = train_test_split(X_train,y_train,train_size=0.8)
from sklearn.model_selection import GridSearchCV
gsearch6 = GridSearchCV(estimator = XGBClassifier( learning_rate =0.055,max_depth=4) ,param_grid=param_test6,scoring='f1',n_jobs=4,iid=False, cv=5)
gsearch6.fit(train_x,train_Y)
#print(gsearch6.grid_scores_, gsearch6.best_params_, gsearch6.best_score_)

In [ ]:
print( "Train Accuracy :: ", accuracy_score(train_Y, gsearch6.predict(train_x)))

In [ ]:
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.model_selection import GridSearchCV
# clf =RandomForestClassifier()
# params = {'class_weight':[{0:neg_weight, 1:1} for neg_weight in np.arange(1.0, 5.0, 0.5)]} 
# gs = GridSearchCV(estimator=clf, param_grid=params, cv=5)
# gs.fit(train_x,train_Y)

In [ ]:
# from sklearn import ensemble
# model = ensemble.AdaBoostClassifier(n_estimators=100, random_state=42)
# train_x, test_x, train_Y, test_y = train_test_split(X_train,y_train,train_size=0.8)
# model.fit(train_x,train_Y)
# y_pred = model.predict(test_x)

In [174]:
test_X = pd.read_csv("../input/india-ml-hiring-av/test.csv")

In [176]:
cols=['val','var0','var1','var2','var3','var4','var5','var6','var7','var8','var9','var10','var11']
mtest_X1=pd.DataFrame(columns=cols)
mtest_X1['val']=test_X['m1']-test_X['m12']

for i in range(0,12):
    mtest_X1['var0']= test_X['m1']-test_X['m2']
    mtest_X1['var1']= test_X['m2']-test_X['m3']
    mtest_X1['var2']= test_X['m3']-test_X['m4']
    mtest_X1['var3'] = test_X['m4']-test_X['m5']
    mtest_X1['var4']= test_X['m5']-test_X['m6']
    mtest_X1['var5']= test_X['m6']-test_X['m7']
    mtest_X1['var6']= test_X['m7']-test_X['m8']
    mtest_X1['var7']= test_X['m8']-test_X['m9']
    mtest_X1['var8'] = test_X['m9']-test_X['m10']
    mtest_X1['var9']= test_X['m10']-test_X['m11']
    mtest_X1['var10']= test_X['m10']-test_X['m11']
    mtest_X1['var11']=test_X['m11']-test_X['m12']
mtest_X1.fillna(0)
mtest_X1.replace(' ',0)

,val,var0,var1,var2,var3,var4,var5,var6,var7,var8,var9,var10,var11
0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0,0
15,-1,0,0,0,0,0,0,0,0,0,-1,-1,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35836,0,0,0,0,0,0,0,0,0,0,0,0,0
35837,0,0,0,0,0,0,0,0,0,0,0,0,0
35838,0,0,0,0,0,0,0,0,0,0,0,0,0
35839,0,0,0,0,0,0,0,0,0,0,0,0,0
35840,0,0,0,0,0,0,0,0,0,0,0,0,0
35841,0,0,0,0,0,0,0,0,0,0,0,0,0
35842,0,0,0,0,0,0,0,0,0,0,0,0,0
35843,0,0,0,0,0,0,0,0,0,0,0,0,0
35844,0,0,0,0,0,0,0,0,0,0,0,0,0
35845,0,0,0,0,0,0,0,0,0,0,0,0,0
35846,0,0,0,0,0,0,0,0,0,0,0,0,0
35847,0,0,0,0,0,0,0,0,0,0,0,0,0
35848,0,0,0,0,0,0,0,0,0,0,0,0,0
35849,0,0,0,0,0,0,0,0,0,0,0,0,0
35850,0,0,0,0,0,0,0,0,0,0,0,0,0
35851,0,0,0,0,0,0,0,0,0,0,0,0,0
35852,0,0,0,0,0,0,0,0,0,0,0,0,0
35853,0,0,0,0,0,0,0,0,0,0,0,0,0
35854,0,0,0,0,0,0,0,0,0,0,0,0,0
35855,0,0,0,0,0,0,0,0,0,0,0,0,0
35856,0,0,0,0,0,0,0,0,0,0,0,0,0
35857,0,0,0,0,0,0,0,0,0,0,0,0,0
35858,0,0,0,0,0,0,0,0,0,0,0,0,0
35859,0,0,0,-1,1,0,0,0,0,0,0,0,0
35860,0,0,0,0,0,0,0,0,0,0,0,0,0
35861,0,0,0,0,0,0,0,0,0,0,0,0,0
35862,0,0,0,0,0,0,0,0,0,0,0,0,0
35863,0,0,0,0,0,0,0,0,-1,1,0,0,0
35864,0,0,0,0,0,0,0,0,0,0,0,0,0
35865,0,0,0,0,0,0,0,0,0,0,0,0,0

In [177]:
test_ids= test_X['loan_id']
print(test_ids)

0            1
1            2
2            3
3            4
4            5
5            6
6            7
7            8
8            9
9           10
10          11
11          12
12          13
13          14
14          15
15          16
16          17
17          18
18          19
19          20
20          21
21          22
22          23
23          24
24          25
25          26
26          27
27          28
28          29
29          30
         ...
35836    35837
35837    35838
35838    35839
35839    35840
35840    35841
35841    35842
35842    35843
35843    35844
35844    35845
35845    35846
35846    35847
35847    35848
35848    35849
35849    35850
35850    35851
35851    35852
35852    35853
35853    35854
35854    35855
35855    35856
35856    35857
35857    35858
35858    35859
35859    35860
35860    35861
35861    35862
35862    35863
35863    35864
35864    35865
35865    35866
Name: loan_id, Length: 35866, dtype: int64

In [178]:
months = {"Feb":2,"Mar":3,"Apr":4,"May":5}
diff2 = []
for i in range(len(test_X['origination_date'])):
    var = months[test_X['first_payment_date'][i].split('-')[0]] - int(test_X['origination_date'][i].split('/')[1])
    diff2.append(var)
test_X.drop(columns = ['origination_date','first_payment_date'],inplace = True)
test_X['response_time'] = diff2

In [179]:
test_X = one_hot(test_X,['source','financial_institution','loan_purpose'],['source','fi','lp'])

In [181]:
#test_ids = test_X['loan_id']
test_X = test_X[['interest_rate',
 'unpaid_principal_bal',
 'loan_term',
 'loan_to_value',
 'debt_to_income_ratio',
 'borrower_credit_score',
 'co-borrower_credit_score',
 'source_X',
 'source_Y',
 'lp_A23',
 'lp_B12',
 'lp_C86']]
test_X=pd.concat([test_X,mtest_X1],axis= 1)

In [182]:
df3.columns

Index(['interest_rate', 'unpaid_principal_bal', 'loan_term', 'loan_to_value',
       'debt_to_income_ratio', 'borrower_credit_score',
       'co-borrower_credit_score', 'source_X', 'source_Y', 'lp_A23', 'lp_B12',
       'lp_C86', 'val', 'var0', 'var1', 'var2', 'var3', 'var4', 'var5', 'var6',
       'var7', 'var8', 'var9', 'var10', 'var11'],
      dtype='object')

In [173]:
print(test_X)

        interest_rate  unpaid_principal_bal  loan_term  loan_to_value  \
0               3.875              417000.0      360.0           75.0
1               4.500              113000.0      360.0           80.0
2               4.500               72000.0      360.0           75.0
3               4.125              123000.0      180.0           41.0
4               3.250              166000.0      180.0           53.0
5               3.625              416000.0      360.0           65.0
6               3.500              272000.0      180.0           77.0
7               3.125              160000.0      120.0           54.0
8               3.250              236000.0      180.0           42.0
9               4.375               98000.0      360.0           80.0
10              4.000               70000.0      360.0           51.0
11              2.990              196000.0       96.0           59.0
12              3.000              278000.0      180.0           79.0
13              3.625              239000.0      120.0           63.0
14              4.375              113000.0      360.0           48.0
15              3.500              129000.0      180.0           80.0
16              4.375              276000.0      360.0           95.0
17              4.000              321000.0      360.0           95.0
18              3.125              190000.0      120.0           80.0
19              4.875               74000.0      180.0           80.0
20              3.875              161000.0      240.0           35.0
21              3.000              360000.0      120.0           40.0
22              3.000               70000.0      120.0           19.0
23              3.250              175000.0      180.0           97.0
24              2.875              130000.0      180.0           64.0
25              3.875              158000.0      360.0           79.0
26              4.500              248000.0      360.0           75.0
27              3.990               91000.0      180.0           78.0
28              3.750              390000.0      360.0           60.0
29              3.000              105000.0      120.0           57.0
...               ...                   ...        ...            ...
116028            NaN                   NaN        NaN            NaN
116029            NaN                   NaN        NaN            NaN
116030            NaN                   NaN        NaN            NaN
116031            NaN                   NaN        NaN            NaN
116032            NaN                   NaN        NaN            NaN
116033            NaN                   NaN        NaN            NaN
116034            NaN                   NaN        NaN            NaN
116035            NaN                   NaN        NaN            NaN
116036            NaN                   NaN        NaN            NaN
116037            NaN                   NaN        NaN            NaN
116038            NaN                   NaN        NaN            NaN
116039            NaN                   NaN        NaN            NaN
116040            NaN                   NaN        NaN            NaN
116041            NaN                   NaN        NaN            NaN
116042            NaN                   NaN        NaN            NaN
116043            NaN                   NaN        NaN            NaN
116044            NaN                   NaN        NaN            NaN
116045            NaN                   NaN        NaN            NaN
116046            NaN                   NaN        NaN            NaN
116047            NaN                   NaN        NaN            NaN
116048            NaN                   NaN        NaN            NaN
116049            NaN                   NaN        NaN            NaN
116050            NaN                   NaN        NaN            NaN
116051            NaN                   NaN        NaN            NaN
116052            NaN                   NaN        NaN            NaN
116053            NaN                   NaN        NaN            NaN
116054            NaN                   NaN        NaN            NaN
116055            NaN                   NaN        NaN            NaN
116056            NaN                   NaN        NaN            NaN
116057            NaN                   NaN        NaN            NaN

        debt_to_income_ratio  borrower_credit_score  co-borrower_credit_score  \
0                       20.0                  790.0                       0.0
1                       33.0                  793.0                     784.0
2                       34.0                  710.0                       0.0
3                       24.0                  798.0                     813.0
4                       12.0                  767.0                     768.0
5                       19.0                  802.0                     728.0
6                        8.0                  777.0                     779.0
7                       18.0                  704.0                     803.0
8                       33.0                  790.0                     799.0
9                       36.0                  737.0                       0.0
10                      45.0                  745.0                       0.0
11                      21.0                  798.0                     771.0
12                      45.0                  660.0                     684.0
13                      40.0                  792.0                       0.0
14                      16.0                  687.0                       0.0
15                      36.0                  677.0                       0.0
16                      35.0                  806.0                     772.0
17                      21.0                  775.0                     772.0
18                      27.0                  780.0                     795.0
19                      33.0                  796.0                       0.0
20                      40.0                  744.0                       0.0
21                      40.0                  795.0                       0.0
22                      10.0                  798.0                     802.0
23                      32.0                  778.0                     783.0
24                      12.0                  809.0                     818.0
25                      28.0                  739.0                     762.0
26                      35.0                  788.0                       0.0
27                      29.0                  731.0                     765.0
28                      24.0                  813.0                     784.0
29                      32.0                  725.0                       0.0
...                      ...                    ...                       ...
116028                   NaN                    NaN                       NaN
116029                   NaN                    NaN                       NaN
116030                   NaN                    NaN                       NaN
116031                   NaN                    NaN                       NaN
116032                   NaN                    NaN                       NaN
116033                   NaN                    NaN                       NaN
116034                   NaN                    NaN                       NaN
116035                   NaN                    NaN                       NaN
116036                   NaN                    NaN                       NaN
116037                   NaN                    NaN                       NaN
116038                   NaN                    NaN                       NaN
116039                   NaN                    NaN                       NaN
116040                   NaN                    NaN                       NaN
116041                   NaN                    NaN                       NaN
116042                   NaN                    NaN                       NaN
116043                   NaN                    NaN                       NaN
116044                   NaN                    NaN                       NaN
116045                   NaN                    NaN                       NaN
116046                   NaN                    NaN                       NaN
116047                   NaN                    NaN                       NaN
116048                   NaN                    NaN                       NaN
116049                   NaN                    NaN                       NaN
116050                   NaN                    NaN                       NaN
116051                   NaN                    NaN                       NaN
116052                   NaN                    NaN                       NaN
116053                   NaN                    NaN                       NaN
116054                   NaN                    NaN                       NaN
116055                   NaN                    NaN                       NaN
116056                   NaN                    NaN                       NaN
116057                   NaN                    NaN                       NaN

        source_X  source_Y  lp_A23  ...    var2  var3  var4  var5  var6  var7  \
0            0.0       1.0     1.0  ...       0     0     0    -1     1     0
1            1.0       0.0     0.0  ...       0     0     0     0     0     0
2            0.0       1.0     0.0  ...       0     0     0     0     0     0
3            1.0       0.0     1.0  ...       0     0     0     0     0    -1
4            1.0       0.0     1.0  ...      -1    -1    -1    -1    -1    -1
5            0.0       1.0     0.0  ...       0     0     0     0     0     0
6            1.0       0.0     1.0  ...       0     0     0     0     0     0
7            1.0       0.0     0.0  ...       0     0     0     0     0     0
8            1.0       0.0     1.0  ...       0    -1     1    -1     1    -1
9            0.0       0.0     0.0  ...       0     0    -1     0     0     0
10           1.0       0.0     0.0  ...       0     0     0     0     0     0
11           1.0       0.0     0.0  ...       1    -1     1     0     0     0
12           1.0       0.0     1.0  ...       0     0     0     0     0     0
13           1.0       0.0     0.0  ...       0    -1    -1    -1    -1    -1
14           0.0       1.0     1.0  ...       0     0     0     0     0     0
15           0.0       1.0     0.0  ...      -1     1     0     0     0     0
16           1.0       0.0     0.0  ...       0     0     0     0     0    -1
17           1.0       0.0     0.0  ...       0     0     0     0     0     0
18           1.0       0.0     1.0  ...       0    -1     1     0     0     0
19           1.0       0.0     0.0  ...       0     0     0     0     0    -1
20           0.0       0.0     1.0  ...      -1     1     0     0     0     0
21           1.0       0.0     1.0  ...       0     0     0     0     0     0
22           1.0       0.0     0.0  ...       0     0    -1     1    -1     0
23           1.0       0.0     1.0  ...       0     0     0     0     0     0
24           0.0       1.0     0.0  ...       0     0     0     0     0     0
25           0.0       1.0     0.0  ...       0     0     0     0     0     0
26           0.0       1.0     0.0  ...       0     0     0     0     0     0
27           1.0       0.0     0.0  ...       0     0     0     0     0     0
28           0.0       0.0     1.0  ...       0     0    -1     1     0     0
29           0.0       1.0     0.0  ...       0     0     0     0     0     0
...          ...       ...     ...  ...     ...   ...   ...   ...   ...   ...
116028       NaN       NaN     NaN  ...       0     0     0     0     0     0
116029       NaN       NaN     NaN  ...       0     0     0     0     0     0
116030       NaN       NaN     NaN  ...       0     0     0     0     0     0
116031       NaN       NaN     NaN  ...       0     0     0     0     0     0
116032       NaN       NaN     NaN  ...       0     0     0     0     0     0
116033       NaN       NaN     NaN  ...       0     0     0     0     0     0
116034       NaN       NaN     NaN  ...       0     0     0     0     0     0
116035       NaN       NaN     NaN  ...       0     0     0     0     0     0
116036       NaN       NaN     NaN  ...       0     0     0     0     0     0
116037       NaN       NaN     NaN  ...       0     0     0     0     0     0
116038       NaN       NaN     NaN  ...       0     0     0     0     0     0
116039       NaN       NaN     NaN  ...       0     0     0     0     0     0
116040       NaN       NaN     NaN  ...       0     0     0     0     0     0
116041       NaN       NaN     NaN  ...       0     0     0     0     0     0
116042       NaN       NaN     NaN  ...       0     0     0     0     0     0
116043       NaN       NaN     NaN  ...       0     0     0     0     0     0
116044       NaN       NaN     NaN  ...       0     0     0     0     0     0
116045       NaN       NaN     NaN  ...       0     0     0     0     0     0
116046       NaN       NaN     NaN  ...       0     0     0     0     0     0
116047       NaN       NaN     NaN  ...       0     0     0     0     0     0
116048       NaN       NaN     NaN  ...       0     0     0     0     0     0
116049       NaN       NaN     NaN  ...       0     0     0     0     0     0
116050       NaN       NaN     NaN  ...       0     0     0     0     0     0
116051       NaN       NaN     NaN  ...       0     0     0     0     0     0
116052       NaN       NaN     NaN  ...       0     0     0     0     0     0
116053       NaN       NaN     NaN  ...       0     0     0     0     0     0
116054       NaN       NaN     NaN  ...       0     0     0     0     0     0
116055       NaN       NaN     NaN  ...       0     0     0     0     0     0
116056       NaN       NaN     NaN  ...       0     0     0     0     0     0
116057       NaN       NaN     NaN  ...       0     0     0     0     0     0

        var8  var9  var10  var11
0          0     0      0      0
1          0    -1     -1      1
2          0     0      0      0
3          0     0      0      0
4         -1    -1     -1     -1
5          0     0      0      0
6          0     0      0      0
7          0     0      0      0
8         -1     2      2     -1
9          0    -1     -1      0
10         0     0      0     -1
11         0    -1     -1      0
12         0     0      0      0
13        -1    -1     -1     -1
14         0     0      0      0
15         0    -1     -1      0
16         0    -1     -1     -1
17         0     0      0      0
18         0     0      0     -1
19        -1     0      0      0
20         0     0      0      0
21         0     0      0     -1
22         1     0      0     -1
23         0     0      0     -1
24         0    -1     -1      0
25         0    -1     -1     -1
26         0     0      0     -1
27         0     0      0      0
28         0     0      0      0
29         0     0      0      0
...      ...   ...    ...    ...
116028     0     0      0      0
116029     0     0      0      0
116030     0     0      0      0
116031     0     0      0      0
116032     0     0      0      0
116033     0     0      0      0
116034     0     0      0      0
116035     0     0      0      0
116036     0     0      0      0
116037     0     0      0      0
116038     0     0      0      0
116039     0     0      0      0
116040     0     0      0      0
116041     0     0      0      0
116042     0     0      0      0
116043     0     0      0      0
116044     0     0      0      0
116045     0     0      0      0
116046     0     0      0      0
116047     0     0      0      0
116048     0     0      0      0
116049     0     0      0      0
116050     0     0      0      0
116051     0     0      0      0
116052     0     0      0      0
116053     0     0      0      0
116054     0     0      0      0
116055     0     0      0      0
116056     0     0      0      0
116057     0     0      0      0

[116058 rows x 25 columns]

In [183]:
# xgb_predict_test = gsearch6.predict(test_X)
xgb_predict_test = model.predict(test_X)
print(len(xgb_predict_test))

35866

In [184]:
submission = pd.DataFrame(test_ids)
submission['m13'] = xgb_predict_test
submission.to_csv("mysubmission.csv",index = False)

In [185]:
from IPython.display import HTML

def create_download_link(title = "Download CSV file", filename = "mysubmission.csv"):  
    html = '<a href={filename}>{title}</a>'
    html = html.format(title=title,filename=filename)
    return HTML(html)

# create a link to download the dataframe which was saved with .to_csv method
create_download_link(filename='mysubmission.csv')

In [186]:
submission

       loan_id  m13
0            1    0
1            2    0
2            3    0
3            4    0
4            5    0
5            6    0
6            7    0
7            8    0
8            9    0
9           10    0
10          11    0
11          12    0
12          13    0
13          14    0
14          15    0
15          16    1
16          17    0
17          18    0
18          19    0
19          20    0
20          21    0
21          22    0
22          23    0
23          24    0
24          25    0
25          26    0
26          27    0
27          28    0
28          29    0
29          30    0
...        ...  ...
35836    35837    0
35837    35838    0
35838    35839    0
35839    35840    0
35840    35841    0
35841    35842    0
35842    35843    0
35843    35844    0
35844    35845    0
35845    35846    0
35846    35847    0
35847    35848    0
35848    35849    0
35849    35850    0
35850    35851    0
35851    35852    0
35852    35853    0
35853    35854    0
35854    35855    0
35855    35856    0
35856    35857    0
35857    35858    0
35858    35859    0
35859    35860    0
35860    35861    0
35861    35862    0
35862    35863    0
35863    35864    0
35864    35865    0
35865    35866    0

[35866 rows x 2 columns]